

/* ----- MAIN UI ----- */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* ----- --- CONSOLE TITLE --- ----- */
.console {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF5E5B;
    border-radius: 30px;
    margin-top: 2em;
}
.console h1 {
    display: flex;
    justify-content: center;
    color: #f1f863;
    font-family: 'Rock Salt', cursive;
    font-weight: 900;

}

/* ----- GRID CONTAINER ----- */
.grid {
    display: flex; 
    border: solid grey 1px;
    border-right: solid grey 2px;
    border-bottom: solid grey 2px;
    height: 600px;
    width: 600px;
    
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.block {
    flex: 1;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
}

/* ----- CONTROL BOARD ----- */

.controls {
    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 610px;

}

.sliderCont {
    flex: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 24px 1em;
    color: #f7ff58;
    
}

.modes {
    flex: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    color: #f1f863;
    
}

.modes button {
    margin: 0px 8px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.modes button:hover {
    background-color: white;
}

.modes button:active {
    background-color: white;
    box-shadow: 0 0 10px #f2fc2d;
    transform: scale(0.9);
}

#restart {
    flex: 1;
    display: flex;
    flex: 0;
    align-self: center;
    
    height: 30px;
    letter-spacing: 0px;
    border-radius: 5px;
    border: none;
    padding: 5px 16px;
    font-size: 16px;
    margin: 0px 1em;
    cursor: pointer;
    transition: 0.2s;
}

#restart:hover {
    background-color: white;
}
#restart:active {
    background-color: white;
    box-shadow: 0 0 10px #f2fc2d;
    transform: scale(0.9);
}
    

