/* ----- HEADER ----- */
header {
    display: flex;
    justify-content: center;
}

/* ----- MAIN UI ----- */
.main {
    display: flex;
    justify-content: center;
}

/* ----- GRID CONTAINER ----- */
.grid {
    display: inline-flex;  
    border: solid black 5px;
    justify-content: center;
    align-items: center;
}

.column {
    align-items: center;
    display: inline-block;
}

.block {
    width: 25px;
    height: 25px;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
}